<div class="padding-1">
    <app-title-component [title]="'Cambio de vencimiento'"></app-title-component>
    <app-generic-data-risk [case]="case"></app-generic-data-risk>
    <div class="flex-container margin-top">
        <div class="flex-column-100">
            <app-person [person]="person" *ngIf="person" ></app-person>
        </div>
    </div>
    <app-generic-data-case 
        [case]="case" 
        [isChangingExpiration]="true"
        (isValidCaseForm)="onValidCase($event)"
        >
    </app-generic-data-case>
    <app-document-attached-list 
        *ngIf="person && case && documents" 
        [personID]="person.id" 
        [caseID]="case.id" 
        [documents]="documents"
        [showLink]="true"
        >
    </app-document-attached-list>
    <app-docket [value]="docket" (isValidDocket)="onValidDocket($event)"></app-docket>
    <app-contact-info 
        *ngIf="contactInfo" 
        [contactInfo]="contactInfo"
        [locationAsync$]="locations"
        (optionChanged)="onOptionChange($event)"
        (isValidContactForm)="onValidContact($event)">
    </app-contact-info>
    <app-news-sequence-list 
        [news]="news" 
        [newsReason]="newsReason"
        [hasNewsReasons]="true"
        (isValidNewsForm)="onValidNews($event)"
    >
    </app-news-sequence-list>
    <div class="container margin-top">
        <div class="buttonsContainer">
            <sc-button class="padding-right-1" (onClick)="onAccept()" [disabled]="!isFormValid">Aceptar</sc-button>
            <sc-button (onClick)="onCancel()" type="secondary">Cancelar</sc-button>
        </div>
    </div>
</div>