@sc:registry=https://pkgs.dev.azure.com/sancristobalCTD/_packaging/td-feed/npm/registry/
; begin auth token
//pkgs.dev.azure.com/sancristobalCTD/_packaging/automation-feed%40Local/npm/registry/:username=sancristobalCTD
//pkgs.dev.azure.com/sancristobalCTD/_packaging/automation-feed%40Local/npm/registry/:_password=NHd3dWdxdmZ3NDdoZzV0cXp6NzNvbDI2NDZqY3E0NTIybWN5NmIzNGhmdnBqYnRqaGpqcQ==
//pkgs.dev.azure.com/sancristobalCTD/_packaging/automation-feed%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/sancristobalCTD/_packaging/automation-feed%40Local/npm/:username=sancristobalCTD
//pkgs.dev.azure.com/sancristobalCTD/_packaging/automation-feed%40Local/npm/:_password=NHd3dWdxdmZ3NDdoZzV0cXp6NzNvbDI2NDZqY3E0NTIybWN5NmIzNGhmdnBqYnRqaGpqcQ==
//pkgs.dev.azure.com/sancristobalCTD/_packaging/automation-feed%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token