@import "@sc/portal.fe.lib.global-styles/src/_globals.scss";
.box{
border: 1px solid #ccd2dd;
padding: 10px;
}
.float{
    float:left;
}
// .flex-column-33{
// display: block;
// padding: 0.5rem;
// width: 33.33%;
// }