<div class="padding-1">
    <app-title-component [title]="'Inicio'"></app-title-component>
    <div class="flex-container align-items flex-column-display margin-top">
        <p style="font-size: 40px;" class="margin-bottom">Bienvenido</p> 
        <img width="150px" src="/assets/images/logo-main_nav_desktop.svg"> 
        <p style="font-size: 40px; text-align: center;" class="margin-top padding-1">Prevención de lavado de dinero</p>
        <div style="font-size: 25px;" class="margin-top">
            {{today}}
        </div>
    </div>    
</div>